*.pyo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
.pytest_cache
dist
docs
.env
.venv
.pgdata
.python-version
stats
.coverage
htmlcov
staticfiles
media
Dockerfile
__localcode/
docker-compose-local.yml
