Django==6.0
psycopg2-binary==2.9.11
python-decouple==3.8
gunicorn==23.0.0
whitenoise==6.11.0
django-extensions==4.1
ipython==9.8.0
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.11.1
crispy-bootstrap5==2025.6
django-crispy-forms==2.5
django-storages[s3]
