Django==4.2.20
psycopg2-binary==2.9.10
python-decouple==3.8
gunicorn==23.0.0
whitenoise==6.9.0
django-extensions==3.2.3
ipython==9.0.2
pytest==8.3.5
pytest-cov==6.0.0
pytest-django==4.10.0
crispy-bootstrap5==2024.10
django-crispy-forms==2.3
django-storages[s3]
