networks:
  niltonpimentel-backend:

services:
  traefik:
    container_name: traefik
    image: traefik:latest
    restart: always
    command:
      - "--configFile=/etc/traefik/traefik.yml"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/localtime:/etc/localtime:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro
    networks:
      - niltonpimentel-backend
    logging:
      options:
        max-size: "10m"
        max-file: "2"

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
      - ./portainer_data:/data
    networks:
      - niltonpimentel-backend

  postgres:
    container_name: postgres
    image: postgres:latest
    restart: always
    environment:
      - LC_ALL=C.UTF-8
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    expose:
      - "5432"
    volumes:
      - ./.pgdata:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    networks:
      - niltonpimentel-backend

  app:
    container_name: app
    image: niltonpimentel/niltonpimentel:latest
    restart: always
    env_file: .env
    command:
      - /bin/sh
      - -c
      - |
        gunicorn nilton_pimentel.wsgi:application -w 2 -b :8000 --threads 1 --timeout 80
    expose:
      - "8000"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      - niltonpimentel-backend
    depends_on:
      - postgres
